@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;584;700&display=swap');


.ResourceFinder{
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #056BA5;
}
.resourcedisplay{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #056BA5;
  color: white;
  padding-top: 20px;
  
}
.dropdownbox{
  margin-bottom: 10px;
  width: 30%;
}
.dropdown{
  display: flex;
  flex-direction: column;

  border: 2px solid white;
  /* float: left; */
  padding: 20px;
  color: #056BA5;
  line-height: 20px;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  /* position: fixed; */
}
/* inspired by sproul.club */

.button-style{
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #A9E0FF;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  border: none;
  color: #002336;
  font-weight: bold;
  margin: 5px;
}
.img-style{
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}
.spacing{
  /* float: left;
  width: 100%; */
  padding-left: 20vw;
  border: 2px solid #056BA5;


}
.description-style{
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #002336;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.tag-style{
  padding-top:5px;
  padding-bottom:5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #66B186;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  margin: 5px;

}


